<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOMP WOMP</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <h1>PAGINA PRINCIPAL</h1>

    <hr>

    <section>
        <h3> <a href="/selecao">Selecionar Contatos</a> </h3>
    </section>
     

    <section>
        <h3> <a href="/edit_contacts">Editar Contatos</a> </h3> 
    </section>
    
    <hr>

    
    <script src="/static/app.js"></script>
</body>
</html>
